a:link    {color:#0000ff;text-decoration:none;}
a:visited {color:#0000ff;text-decoration:none;}
a:hover   {color:#0000ff;text-decoration:none;background-color:#ffffff;}
a:active  {color:#0000ff;text-decoration:none;}

h1{
    color:#222222;
    text-align:center;
    font-family:"sans";
    font-weight:"bold";
    font-size:20px;
}

h2{
    color:#444444;
    text-align:center;
    font-family:"sans";
    font-weight:"normal";
    font-size:14px;
}

body{
    background-color:#ffffff;
}

body.details{
    font-family:"monospace";
    font-weight:"normal";
    font-size:11px;
}

table{
    font-family:"sans";
    font-size:14px;
}

tr{
    background-color:#eeeeee;
}
tr.failed{
    background-color:#ff5050;
    color:#000000;
}
tr.passed{
    background-color:#00ff99;
    color:#000000;
}

th{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size:12px;
}
th.desc{
    text-align: left;
}
td{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size:12px;
}
td.id{
    text-align: center;
}
td.time{
    text-align: center;
}
td.results{
    text-align: center;
}
td.desc{
    text-align: left;
    font-size:10px;
}
