a:link    {color:#0000ff;text-decoration:none;}
a:visited {color:#0000ff;text-decoration:none;}
a:hover   {color:#0000ff;text-decoration:none;background-color:#ffffff;}
a:active  {color:#0000ff;text-decoration:none;}

body{
    background-color:#ffffff;
}

body.details{
    font-family:"monospace";
    font-weight:"normal";
    font-size:11px;
}

table{
    font-family:"sans";
    font-size:14px;
}

tr{
    background-color:#eeeeee;
    color:#000000;
}
tr.install{
    background-color:#ffffff;
}
tr.failed{
    background-color:#ff9999;
}
tr.passed{
    background-color:#99ffaa;
}

th{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size:12px;
    text-align: left;
}
th.install{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    text-align: right;
}

td{
    font-size:12px;
}
td.job{
    background-color:#000000;
    text-align:center;
    color:white;
    font-size:12pt;
    font-weight:bold;
}
td.desc{
    font-size:10px;
}

.left{
    text-align: left;
}
.center{
    text-align: center;
}

